<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    SAML Tests
  </h1>

  <div>1º Login with Post method or SAML method</div>
  <button style="margin-top: 15px" (click)=postLogin()>Post Login</button>

  <button style="margin-top: 15px" (click)=certificateLogin()>Certificate Login</button>

  <button style="margin-top: 15px" (click)=samlLogin()>SAML Login</button>

  <button style="margin-top: 15px" (click)=logout()>SAML Logout</button>

  <div>2º Get token from auth server</div>
  <button style="margin-top: 15px" (click)=getToken()>Get Token</button>

  <div>3º Test token token</div>
  <button style="margin-top: 15px" (click)=callApiAuthServer()>Auth server API Example</button>

  <button style="margin-top: 15px" (click)=callApiExternal()>External server API Example</button>



  <div *ngIf="!logoutSuccess">

    <div *ngIf="sessionId">
      Session ID: {{ sessionId }}
    </div>

    <div *ngIf="apiToken">
      API Token: {{ apiToken }}
    </div>

    <div *ngIf="authServerApiExample" style="margin-top: 15px">
      Auth Server API Example: {{ authServerApiExample }}
    </div>

    <div *ngIf="externalServerApiExample" style="margin-top: 15px">
      External Server API Example: {{ externalServerApiExample }}
    </div>

  </div>

  <div *ngIf="errorMessage">Error: {{ errorMessage }}</div>

  <div *ngIf="logoutSuccess" style="margin-top: 15px">
    Successfully logout, refresh the app to log in again
  </div>




</div>


